<%= render partial: 'search'%>
<h2> All Students: </h2>
<i>Ordered by last name:</i>
<ul>
<% @children.each do |c| %>
    <div><%= link_to c.to_s, child_path(c) %>, age: <%=c.age%> </div><br>
<% end %>
</ul><br><br>

<i><%= link_to 'New Student', new_classroom_child_path(@children) %></i><br><br> 