<h2> Student List: </h2>
<ul>
<% @children.each do |c| %>
    <div><%= link_to c.first_name, child_path(c) %></div><br>
<% end %>
</ul><br><br>
<i><%= link_to 'New Student', new_classroom_child_path(@children) %></i><br><br>
<%= render partial: 'search'%>