<h1>Assignment: <%=@assignment.title%></h1>
<h4>Description: <%=@assignment.description%></h4><br>

<p><%= link_to 'Edit Assignment', edit_assignment_path(@assignment) %></p>
<p><i><%= @assignment.last_updated %></i></p>
